* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/images/background.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 100%;
    max-width: 40rem;
    border-radius: 2rem;
    padding: 3rem;
    text-align: center;
    background-color: rgba(10, 10, 10, 0.822);
}

#container h1 {
    color: white;
}

#container input {
    padding: 1rem;
    margin-top: 1rem;
}

#container button {
    cursor: pointer;
}

#container input, #container p ~ button {
    border-radius: 0.3rem;
    width: 100%;
    height: 3.2rem;
    font-size:1.3rem;
    
}

#container p ~ button {
    background-image: linear-gradient(rgba(0, 0, 0, 0.801), grey);
    color: white;
    font-weight: bolder;
    
}

#kind_of {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;   
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#kind_of img {
    width: 4.5rem;
    height: 4.5rem;
    
}
#container #kind_of button {
    width: 6rem;
    height: 6rem;
    border-radius: 1.5rem;

    background-color: rgba(128, 128, 128, 0.329);
}

#container p {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-shadow: 1px 1px 3px black;
}

