@media  screen and (max-width: 650px){
    * {
        box-sizing: border-box;
    }
    body {
        height: 120vh;
 
    }
    #container {
        width: initial;
        padding: 1.5rem;
    }
    #meat_results, #chicken_results, #beer_results, #juice_results, #salad_results {
        background-repeat: no-repeat;
        background-size: 20%;
        background-position: right center;
    }
    #results .confirm_results {
        padding: 1rem 3.3rem 1rem 1rem;
        display: flex;
        font-size: 1.1rem;
        text-align: left;

    }
    #container #kind_of button {
        width: initial; 
        height: initial; 
        border-radius: 1.5rem;
    }

    #kind_of img {
        width: initial;
        height: 3.5rem;
    }
    #container h1 {
        color: white;
        font-size: 1.6rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 281px){
    body {
        height: 100vh;
    }
    #kind_of img {
        width: initial;
        height: 3rem;
    }
    #container input {
        width: initial;
        height: initial;
        font-size: 1rem; 
    }
    #container p ~ button {
        border-radius: 0.3rem;
        width: 90%;
        height: 3.2rem; 
        font-size: 1.1rem;

}
#container h1 {
    font-size: 1.3rem;
    padding: 0.2rem;
}
body {
    height: 120vh;
}
#meat_results, #chicken_results, #beer_results, #juice_results, #salad_results {
    background-repeat: no-repeat;
    background-size: 22%;
    background-position: right center;
}
#results .confirm_results {
    padding: 1rem 3.3rem 1rem 1rem;
    display: flex;
    font-size: 0.9rem;
    text-align: left;

}

}